@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas Telas: até 600px 
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;

        /* para esconder o menu "hamburguinho" quando a tela chegar em 768px */
    }

    menu {
        display: block;

        /* para aparecer as "opções" quando a tela chegar em 768px */
    }

    menu > ul > li {
        display: inline-block;
        /* podemos dar largura também para os blocos se quisermos */
    }

    /* para o conteúdo não ficar muito esticado */
    main {
        width: 768px;
    }
}